<ion-content [fullscreen]="true" class="ion-padding">
  <div class="back-btn-container">
<ion-button class="back-btn" [routerLink]="['/home']">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      {{ i18n.translate('PROFILE.BACK_HOME') }}
    </ion-button>
  </div>

  <div class="profile-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ i18n.translate('PROFILE.TITLE') }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">{{ i18n.translate('REGISTER.NAME') }}</ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">{{ i18n.translate('REGISTER.LASTNAME') }}</ion-label>
                  <ion-input type="text" formControlName="lastname"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">{{ i18n.translate('LOGIN.EMAIL') }}</ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-note color="danger"
                          *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.invalid">
                  {{ i18n.translate('LOGIN.INVALID_EMAIL') }}
                </ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">{{ i18n.translate('LOGIN.PASSWORD') }}</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <ion-note color="danger"
                          *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.invalid">
                  {{ i18n.translate('LOGIN.MIN_PASSWORD') }}
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button expand="block" type="submit" [disabled]="profileForm.invalid" class="ion-margin-top">
            {{ i18n.translate('PROFILE.SAVE') }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
