<ion-content [fullscreen]="true" class="ion-padding">

  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


          <!--User-->
          <ion-item>
            <ion-label position="floating">
              Nombre
            </ion-label>
            <ion-input type="text">
            </ion-input>
          </ion-item>
          <!--Apellido-->
          <ion-item>
            <ion-label position="floating">
              Apellido
            </ion-label>
            <ion-input type="text">
            </ion-input>
          </ion-item>
          <!-- Email -->
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
            Ingresa un correo válido
          </ion-note>

          <!-- Password -->
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-note color="danger"
            *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']">
            La contraseña debe tener al menos 6 caracteres
          </ion-note>

          <!-- Language -->
          <ion-item>
            <ion-label>Selecciona tu idioma</ion-label>
            <ion-select formControlName="language">
              <ion-select-option value="Español">Español</ion-select-option>
              <ion-select-option value="English">English</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- button -->
          <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="ion-margin-top">
            Registrarse
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>