<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.hasError('minlength')">
            El nombre debe tener al menos 2 caracteres
          </ion-note>

          <!-- Lastname -->
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" formControlName="apellido"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registerForm.get('apellido')?.touched && registerForm.get('apellido')?.hasError('minlength')">
            El apellido debe tener al menos 2 caracteres
          </ion-note>

          <!-- Email -->
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
            Ingresa un correo válido
          </ion-note>

          <!-- Contraseña -->
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')">
            La contraseña debe tener al menos 6 caracteres
          </ion-note>

          <!-- idioma -->
          <ion-item>
            <ion-label>Selecciona tu idioma</ion-label>
            <ion-select formControlName="language">
              <ion-select-option value="Español">Español</ion-select-option>
              <ion-select-option value="English">English</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Registra -->
          <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="ion-margin-top">
            Registrarse
          </ion-button>
        </form>

        <!-- Redirige a Login -->
        <div class="ion-text-center ion-margin-top">
          <p>¿Ya tienes cuenta?</p>
          <ion-button fill="clear" (click)="goToLogin()" class="ion-margin-top">
            Inicia sesión
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
