<ion-content [fullscreen]="true" class="ion-padding">
  <div class="home-title">
    {{ i18n.translate('HOME.TITLE') }}
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let wallpaper of wallpapers; let i = index">
        <ion-card class="wallpaper-card">
          <img [src]="wallpaper.url" alt="wallpaper" />
          <ion-button fill="clear" color="danger" class="delete-btn"
                      (click)="deleteWallpaper(i); $event.stopPropagation()">
            <ion-icon [icon]="deleteIcon"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="light" class="view-btn" (click)="viewWallpaper(wallpaper)">
            <ion-icon [icon]="viewIcon"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon [icon]="menuIcon"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="fileInput.click()">
        <ion-icon [icon]="addIcon"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="goToProfile()">
        <ion-icon [icon]="profileIcon"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="logout()">
        <ion-icon [icon]="logoutIcon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <input type="file" accept="image/*" #fileInput hidden (change)="onFileSelected($event)" />

  <ion-modal #modal>
    <ion-content>
      <ion-button fill="clear" color="danger" (click)="closeModal()">
        {{ i18n.translate('HOME.CLOSE') }}
      </ion-button>
      <img [src]="selectedWallpaperUrl" class="full-wallpaper" *ngIf="selectedWallpaperUrl"/>
    </ion-content>
  </ion-modal>
</ion-content>
